
# Various other configuration stuff.
#SetEnv TZ Canada/Vancouver
AddType text/css .less


# Pages that have been moved 

Redirect /irchelp/wsirc.html http://www.irchelp.org/irchelp/historic/wsirc.html
Redirect /irchelp/networks/local.html http://www.irchelp.org/irchelp/networks/regional.html
Redirect /irchelp/networks/subject.html http://www.irchelp.org/irchelp/networks/topical.html



# Obsolete trojan fixes.
Redirect /irchelp/security/NetBus1.5 http://www.irchelp.org/irchelp/security/obsoletefixes.html
Redirect /irchelp/security/NetBus1.6 http://www.irchelp.org/irchelp/security/obsoletefixes.html
Redirect /irchelp/security/NetBus1.7 http://www.irchelp.org/irchelp/security/obsoletefixes.html




# crg-mirc moves - reorg /irchelp/mirc/ and shortcut /mirc under /clients/windows/mirc


RedirectMatch   /irchelp/mirc(.*)          http://www.irchelp.org/irchelp/clients/windows/mirc
RedirectMatch   /mirc(.*)          http://www.irchelp.org/irchelp/clients/windows/mirc

# crg-ircii moves - reorg /irchelp/ircii/ and shortcut /ircii under /clients/unix/ircii


RedirectMatch   /irchelp/ircii(.*)          http://www.irchelp.org/irchelp/clients/unix/ircii
RedirectMatch   /ircii(.*)          http://www.irchelp.org/irchelp/clients/unix/ircii

# crg-mac moves - reorg /irchelp/mac/ and shortcut /mac under /clients/mac

RedirectMatch   /irchelp/mac(.*)          http://www.irchelp.org/irchelp/clients/mac
RedirectMatch   /mac(.*)          http://www.irchelp.org/irchelp/clients/mac

###
# clients redirects
#
# For any given client, if there is only a single page it lives at /clients/<platform>/name.html
# if there are multiple pages, it lives at /clients/platform/name/
# Whichever one we don't have, should redirect. 

# Clients/Windows Redirects
# 

# Clients/Unix Redirects

Redirect /irchelp/clients/unix/irssi.html http://www.irchelp.org/irchelp/clients/unix/irssi/
Redirect /irchelp/clients/unix/ircii.html http://www.irchelp.org/irchelp/clients/unix/ircii/




# Shortcut rules from the original irchelp.org htaccess that we don't want to lose.
 
Redirect /bot http://www.irchelp.org/irchelp/misc/botfaq.html
Redirect /bots http://www.irchelp.org/irchelp/misc/botfaq.html
Redirect /noserv http://www.irchelp.org/irchelp/networks/noserv.html
Redirect /dalnet http://www.irchelp.org/irchelp/networks/servers/dalnet.html
Redirect /dalrefugee http://www.irchelp.org/irchelp/networks/dalrefugee.html
Redirect /shortcuts http://www.irchelp.org/irchelp/misc/shortcuts.html
Redirect /firewall http://www.irchelp.org/irchelp/security/fwfaq.html
Redirect /gmode http://irchelp.org/irchelp/misc/gmode.html
Redirect /news http://www.irchelp.org/irchelp/news/
Redirect /chanfix http://www.efnet.org/chanfix/
Redirect /downloading http://www.irchelp.org/irchelp/security/warez.html
Redirect /download http://www.irchelp.org/irchelp/security/warez.html
Redirect /warez http://www.irchelp.org/irchelp/security/warez.html
Redirect /connect http://www.irchelp.org/irchelp/networks/connectprob.html
Redirect /ts0 http://www.irchelp.org/irchelp/ircd/ts0.html
Redirect /efnetsux http://www.irchelp.org/irchelp/networks/efnetsux.html
Redirect /chanlist http://www.irchelp.org/irchelp/chanlist/
Redirect /ircd http://www.irchelp.org/irchelp/ircd/
# Obsoleted Redirect /ircii http://www.irchelp.org/irchelp/ircii/
Redirect /local http://www.irchelp.org/irchelp/networks/local.html
Redirect /mac http://www.irchelp.org/irchelp/clients/mac
# obsoleted by crg-mirc moves: Redirect /mirc http://www.irchelp.org/irchelp/mirc/
Redirect /misc http://www.irchelp.org/irchelp/misc/
Redirect /nets http://www.irchelp.org/irchelp/networks/
Redirect /net http://www.irchelp.org/irchelp/networks/
Redirect /networks http://www.irchelp.org/irchelp/networks/
Redirect /network http://www.irchelp.org/irchelp/networks/
Redirect /new2irc http://www.irchelp.org/irchelp/new2irc.html
Redirect /nuke http://www.irchelp.org/irchelp/nuke/
Redirect /script http://www.irchelp.org/irchelp/script/
Redirect /shareware http://www.irchelp.org/irchelp/misc/shareware.html
Redirect /security http://www.irchelp.org/irchelp/security/
Redirect /trojan http://www.irchelp.org/irchelp/security/trojan.html
Redirect /unix http://www.irchelp.org/irchelp/ircii/
Redirect /rules.html http://www.irchelp.org/irchelp/misc/rules.html
Redirect /rules http://www.irchelp.org/irchelp/misc/rules.html
Redirect /dird http://deckard.mc.duke.edu/dird
Redirect /dotn http://scuba.mc.duke.edu/scuba/dotn/
Redirect /dsd http://scuba.mc.duke.edu/scuba/dsd/
Redirect /scuba http://scuba.mc.duke.edu/scuba/
Redirect /iblfaq http://www.irchelp.org/bolo/ibl/iblfaq.html
Redirect /trolls http://www.irchelp.org/irchelp/ircd/trolls/
Redirect /op http://www.irchelp.org/irchelp/ops/
Redirect /ops http://www.irchelp.org/irchelp/ops/
Redirect /exploit http://www.irchelp.org/irchelp/mirc/exploit.html
Redirect /x http://www.irchelp.org/irchelp/mirc/exploit.html
Redirect /changuide http://www.irchelp.org/irchelp/changuide.html
Redirect /chanop http://www.irchelp.org/irchelp/mirc/chan_op.mrc
Redirect /rfc http://www.irchelp.org/irchelp/rfc/
Redirect /umode http://irchelp.org/irchelp/misc/umodes.html



