# Uncomment this if you want to set 'pretty_urls' to 'true'.
#RewriteEngine on

# If you're running from a sub-directory, uncomment the RewriteBase statement and
# change it to the sub-directory name you're using.
#RewriteBase /piecrust

# Don't rewrite requests to stuff that physically exists.
#RewriteCond %{REQUEST_FILENAME} -f [OR]
#RewriteCond %{REQUEST_FILENAME} -l [OR]
#RewriteCond %{REQUEST_FILENAME} -d
#RewriteRule ^.*$ - [NC,L]

# Rewrite all the rest through the gateway.
#RewriteRule ^.*$ index.php [NC,L]

# Various other configuration stuff.
#SetEnv TZ Canada/Vancouver
AddType text/css .less

# Shortcut rules from the original irchelp.org htaccess that we don't want to lose.
 
Redirect /bot http://www.irchelp.org/irchelp/misc/botfaq.html
Redirect /bots http://www.irchelp.org/irchelp/misc/botfaq.html
Redirect /noserv http://www.irchelp.org/irchelp/networks/noserv.html
Redirect /dalnet http://www.irchelp.org/irchelp/networks/servers/dalnet.html
Redirect /dalrefugee http://www.irchelp.org/irchelp/networks/dalrefugee.html
Redirect /shortcuts http://www.irchelp.org/irchelp/misc/shortcuts.html
Redirect /firewall http://www.irchelp.org/irchelp/security/fwfaq.html
Redirect /gmode http://irchelp.org/irchelp/misc/gmode.html
Redirect /news http://www.irchelp.org/irchelp/news/
Redirect /chanfix http://www.efnet.org/chanfix/
Redirect /downloading http://www.irchelp.org/irchelp/security/warez.html
Redirect /download http://www.irchelp.org/irchelp/security/warez.html
Redirect /warez http://www.irchelp.org/irchelp/security/warez.html
Redirect /connect http://www.irchelp.org/irchelp/networks/connectprob.html
Redirect /ts0 http://www.irchelp.org/irchelp/ircd/ts0.html
Redirect /efnetsux http://www.irchelp.org/irchelp/networks/efnetsux.html
Redirect /chanlist http://www.irchelp.org/irchelp/chanlist/
Redirect /ircd http://www.irchelp.org/irchelp/ircd/
Redirect /ircii http://www.irchelp.org/irchelp/ircii/
Redirect /local http://www.irchelp.org/irchelp/networks/local.html
Redirect /mac http://www.irchelp.org/irchelp/mac/
Redirect /mirc http://www.irchelp.org/irchelp/mirc/
Redirect /misc http://www.irchelp.org/irchelp/misc/
Redirect /nets http://www.irchelp.org/irchelp/networks/
Redirect /net http://www.irchelp.org/irchelp/networks/
Redirect /networks http://www.irchelp.org/irchelp/networks/
Redirect /network http://www.irchelp.org/irchelp/networks/
Redirect /new2irc http://www.irchelp.org/irchelp/new2irc.html
Redirect /nuke http://www.irchelp.org/irchelp/nuke/
Redirect /script http://www.irchelp.org/irchelp/script/
Redirect /shareware http://www.irchelp.org/irchelp/misc/shareware.html
Redirect /security http://www.irchelp.org/irchelp/security/
Redirect /trojan http://www.irchelp.org/irchelp/security/trojan.html
Redirect /unix http://www.irchelp.org/irchelp/ircii/
Redirect /rules.html http://www.irchelp.org/irchelp/misc/rules.html
Redirect /rules http://www.irchelp.org/irchelp/misc/rules.html
Redirect /dird http://deckard.mc.duke.edu/dird
Redirect /dotn http://scuba.mc.duke.edu/scuba/dotn/
Redirect /dsd http://scuba.mc.duke.edu/scuba/dsd/
Redirect /scuba http://scuba.mc.duke.edu/scuba/
Redirect /iblfaq http://www.irchelp.org/bolo/ibl/iblfaq.html
Redirect /trolls http://www.irchelp.org/irchelp/ircd/trolls/
Redirect /op http://www.irchelp.org/irchelp/ops/
Redirect /ops http://www.irchelp.org/irchelp/ops/
Redirect /exploit http://www.irchelp.org/irchelp/mirc/exploit.html
Redirect /x http://www.irchelp.org/irchelp/mirc/exploit.html
Redirect /changuide http://www.irchelp.org/irchelp/changuide.html
Redirect /chanop http://www.irchelp.org/irchelp/mirc/chan_op.mrc
Redirect /rfc http://www.irchelp.org/irchelp/rfc/
Redirect /umode http://irchelp.org/irchelp/misc/umodes.html



# Slashdot Protection - Uncomment all this to Redirect users from certain pages to CoralCDN
#<IfModule mod_rewrite.c>
#RewriteEngine On
#RewriteCond %{HTTP_USER_AGENT} !^CoralWebPrx
#RewriteCond %{QUERY_STRING} !(^|&)coral-no-serve$
#RewriteCond %{HTTP_COOKIE} heavyloaduser=true [OR]
#RewriteCond %{HTTP_REFERER} slashdot\.org [NC]
#RewriteCond %{HTTP_REFERER} digg\.com [NC,OR]
#RewriteCond %{HTTP_REFERER} blogspot\.com [NC,OR]
#RewriteCond %{HTTP_REFERER} reddit\.com [NC,OR]
#RewriteCond %{HTTP_REFERER} stumbleupon\.com [NC,OR]
#RewriteRule ^(.*)$ http://%{HTTP_HOST}.nyud.net%{REQUEST_URI} [R,L,CO=heavyloaduser:true:%{HTTP_HOST}]
#</IfModule>