Redirect /irchelp/networks/chanfix.html http://www.irchelp.org/irchelp/ircd/chanfix/
Redirect /irchelp/networks/nets/ http://www.irchelp.org/irchelp/networks/
Redirect /irchelp/networks/efnet.html http://wwww.irchelp.org/irchelp/networks/efnet/
Redirect /irchelp/networks/efnetsux.html http://wwww.irchelp.org/irchelp/networks/efnet/efnetsux.html
Redirect /irchelp/networks/servermap.html http://wwww.irchelp.org/irchelp/networks/efnet/servermap.html
Redirect /irchelp/networks/spamtrap.html http://wwww.irchelp.org/irchelp/networks/efnet/spamtrap.html
Redirect /irchelp/networks/spamtrap.xml http://wwww.irchelp.org/irchelp/networks/efnet/spamtrap.xml
Redirect /irchelp/networks/efnet.txt http://wwww.irchelp.org/irchelp/networks/efnet/

