Redirect /irchelp/networks/nets/big4.html http://irchelp.org/irchelp/networks/popular.html
Redirect /irchelp/networks/nets/small.html http://irchelp.org/irchelp/networks/
Redirect /irchelp/networks/nets/small2.html http://irchelp.org/irchelp/networks/
Redirect /irchelp/networks/nets/medium.html http://irchelp.org/irchelp/networks/
Redirect /irchelp/networks/nets/local.html http://irchelp.org/irchelp/networks/local.html
Redirect /irchelp/networks/nets/subject.html http://irchelp.org/irchelp/networks/subject.html
