RedirectPermanent /irchelp/ircd/chanfix/chanfix-fr.html http://www.efnet.org/chanfix/chanfix-fr.html
RedirectPermanent /irchelp/ircd/chanfix/chanfix-no.html	http://www.efnet.org/chanfix/chanfix-no.html
RedirectPermanent /irchelp/ircd/chanfix/chanfix-il.html http://www.efnet.org/chanfix/chanfix-il.html
RedirectPermanent /irchelp/ircd/chanfix/index.html http://www.efnet.org/chanfix/
