<!--Start of navigation-->
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container"> <a class="btn btn-navbar"
            data-toggle="collapse" data-target=".nav-collapse"> <span
              class="icon-bar"></span> <span class="icon-bar"></span> <span
              class="icon-bar"></span> </a> <a class="brand" href="/">#irchelp</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="/">Home</a></li>
              <li><a href="/irchelp/credit.html">About</a></li>
              <li class="dropdown"> <a href="/clients" class="dropdown-toggle"
                  data-toggle="dropdown">Clients </a>
                <ul class="dropdown-menu">
                  <li><a href="/clients">All Clients</a></li>
                  <li class="divider"></li>
                  <li class="nav-header">Windows</li>
                  <li><a href="/clients/windows/mirc">mIRC</a></li>
                  <li><a href="/clients/unix/xchat">XChat</a></li>
                  <li><a href="/clients/windows">All Windows Clients</a></li>
                  <li class="divider"></li>
                  <li class="nav-header">MacOS X</li>
                  <li><a href="/clients/mac/textual.html">Textual</a></li>
                  <li><a href="/clients/mac/colloquy.html">Colloquy</a></li>
                  <li><a href="/clients/mac/snak.html">Snak</a></li>
                  <li><a href="/clients/mac">All MacOS X Clients</a></li>
                  <li class="divider"></li>
                  <li class="nav-header">Linux/Unix Terminal</li>
                  <li><a href="/clients/unix/irssi">irssi</a></li>
                  <li><a href="/clients/unix/epic.html">EPIC</a></li>
                  <li><a href="/clients/unix/ircii">ircII</a></li>
                  <li><a href="/clients/unix/index.html#terminal">All Linux/Unix Terminal Clients</a></li>
                  <li class="divider"></li>
                  <li class="nav-header">Linux/Unix Graphical</li>
                  <li><a href="/clients/unix/xchat">XChat</a></li>
                  <li><a href="/clients/unix/konversation.html">Konversation</a></li>
                  <li><a href="/clients/unix/index.html#x11-graphical">All Linux/Unix Graphical Clients</a></li>
                  <li class="nav-header">Smartphones</li>
                  <li><a href="/clients/mobile/android">Clients for Android</a></li>
                  <li><a href="/clients/mobile/ios">Clients for iOS</a></li>
                  <li><a href="/clients/mobile">All Smartphone Clients</a></li>
                  <li class="nav-header">Other OS and Crossplatform</li>
                  <li><a href="/clients/cross">Crossplatform Clients</a></li>
                  <li><a href="/clients/otheros">Clients for other Operating Systems</a></li>
                  <li><a href="/clients/webclients.html">Web-based clients</a></li>

                </ul>
              </li>
              <li class="dropdown"> <a href="/networks/" class="dropdown-toggle"
                  data-toggle="dropdown">Networks </a>
                <ul class="dropdown-menu">
                  <li><a href="/networks/popular.html">Major Networks</a></li>
                  <li><a href="/networks/regional.html">Regional Networks</a></li>
                  <li><a href="/networks/topical.html">Topical Networks</a></li>
                  <li><a href="/networks">All Networks</a></li>
                  <li class="divider"></li>
                  <li class="nav-header">Major Networks</li>
                  <li><a href="/networks/efnet/">EFNet</a></li>
                  <li><a href="/networks/ircnet/">IRCnet</a></li>
                  <li><a href="/networks/undernet/">Undernet</a></li>
                  <li><a href="/networks/dalnet/">Dalnet</a></li>
                  <li><a href="/networks/quakenet/">Quakenet</a></li>
                  <li><a href="/networks/freenode/">Freenode</a></li>
                </ul>
              </li>
              <li class="dropdown"> <a href="/security" class="dropdown-toggle"
                  data-toggle="dropdown">Security </a>
                <ul class="dropdown-menu">
                  <li><a href="/security">General Security</a></li>
                  <li><a href="/security/privacy.html">Privacy</a></li>
                  <li><a href="/nuke">Denial of Service</a></li>
                  <li><a href="/security/trojan.html">Trojan Horses and Other Malware</a></li>
                  <li><a href="/security/socialeng.html">Social Engineering</a></li>
                </ul>
              </li>
              <li class="dropdown"> <a href="/ircd" class="dropdown-toggle"
                  data-toggle="dropdown">Servers </a>
                <ul class="dropdown-menu">
                  <li><a href="/ircd">General ircd information</a></li>
                  <li class="divider"></li>
                  <li class="nav-header">EFNet IRCDs</li>
                  <li><a href="/ircd/ratbox">ircd-ratbox</a></li>
                  <li><a href="/ircd/hybrid">ircd-hybrid</a></li>
                </ul>
              </li>
              <li class="dropdown"> <a href="/faq/new2irc.html" class="dropdown-toggle"
                  data-toggle="dropdown">FAQs </a>
                <ul class="dropdown-menu">
                  <li><a href="/faq/new2irc.html">New user introduction</a></li>
<!--
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li class="divider"></li>
                  <li class="nav-header">Nav header</li>
                  <li><a href="#">Separated link</a></li>
                  <li><a href="#">One more separated link</a></li>
-->
                </ul>
              </li>
              <li class="dropdown"> <a href="/irchelp/library.html" class="dropdown-toggle"
                  data-toggle="dropdown">Library </a>
                <ul class="dropdown-menu">
                  <li><a href="/irchelp/library.html">Index</a></li>
<!--
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li class="divider"></li>
                  <li class="nav-header">Nav header</li>
                  <li><a href="#">Separated link</a></li>
                  <li><a href="#">One more separated link</a></li>
-->
                </ul>
              </li>
            </ul>
		  <div class="navbar-form pull-right">
		<iframe src="https://duckduckgo.com/search.html?site=irchelp.org&amp;width=170&amp;ks=s&amp;prefill=Search DuckDuckGo" style="overflow:hidden;margin:0;padding:0;padding-top:4px;padding-bottom:4px;width:240px;height:40px;" frameborder="0"></iframe>
		  </div>

          </div>
          <!--/.nav-collapse --> </div>
      </div>
    </div>
<!--end of navigation-->
