Redirect /irchelp/misc/warez.html http://www.irchelp.org/irchelp/security/warez.html
Redirect /irchelp/misc/notcool.html http://www.irchelp.org/irchelp/security/notcool.html
Redirect /irchelp/misc/irclog.html http://www.irchelp.org/irchelp/security/irclog.html
Redirect /irchelp/misc/ctcpspec.html http://www.irchelp.org/irchelp/rfc/ctcpspec.html
Redirect /irchelp/misc/dccspec.html http://www.irchelp.org/irchelp/rfc/dccspec.html
Redirect /irchelp/misc/desync.txt http://www.irchelp.org/irchelp/ircd/desync.html
Redirect /irchelp/misc/nuevo.txt http://www.irchelp.org/irchelp/misc/esnew2irc.html
Redirect /irchelp/misc/neuimirc.txt http://www.irchelp.org/irchelp/misc/denew2irc.html
Redirect /irchelp/misc/neuimirc.html http://www.irchelp.org/irchelp/misc/denew2irc.html
Redirect /irchelp/misc/grnewirc.html http://www.irchelp.org/irchelp/misc/grnew2irc.html
Redirect /irchelp/misc/nuevo.html http://www.irchelp.org/irchelp/misc/esnew2irc.html
