Redirect /irchelp/text/new2irc.txt http://www.irchelp.org/irchelp/misc/new2irc.txt
Redirect /irchelp/text/neuimirc.txt http://www.irchelp.org/irchelp/misc/neuimirc.txt
Redirect /irchelp/text/nuevo.txt http://www.irchelp.org/irchelp/misc/nuevo.txt
