Redirect /irchelp/ircd/new-server-guidelines.html http://www.irchelp.org/irchelp/ircd/
Redirect /irchelp/ircd/usfaq.html http://www.irchelp.org/irchelp/ircd/efnetfaq.html
Redirect /irchelp/network.html http://www.irchelp.org/irchelp/networks/
RedirectPermanent /irchelp/ircd/chanfix.html http://www.efnet.org/chanfix/
RedirectPermanent /irchelp/ircd/chanfix-fr.html http://www.efnet.org/chanfix/chanfix-fr.html
RedirectPermanent /irchelp/ircd/chanfix-no.html http://www.efnet.org/chanfix/chanfix-no.html
RedirectPermanent /irchelp/ircd/chanfix-il.html http://www.efnet.org/chanfix/chanfix-il.html
